.work{
    padding-top: 100px;
    padding-bottom: 100px;
}
.work h2 span{
    font-weight:400;
}
.work .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.work .box{
    position: relative;
    padding: 5px;
    margin-top: 50px;
    border:1px solid  black;
}
.work .box i{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    color: orange;
}
.work .box span{
    display: block;
    margin-top: 50%;
    text-align: center;
    position: relative;
}
.work .box span::after{
    content: "";
    position:absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 2px;
    background-color:orange;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}   
.work .box p{
    margin-top: 50px;
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
    color: rgb(92, 92, 92);
}