.contact{
    padding-top: 50px;
}
.main form{
    width: 100%;
    max-width: 70%;
    margin: auto;
}
.main form input{
    width: 100%;
    max-width: 320px;
    display: inline;
    
    
}
.main form input:first-child{
    margin-right: 50px;
}
.main form input:nth-child(3){
    display: block;
    width: 100%;
    max-width: 690px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main form textarea{
    width: 100%;
    max-width: 690px;
}